body {
    margin: 0px;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: #A18288;
}

::selection {
  color: black !important;
  background: #A18288 !important;
}

/* Tooltip container */
u {
    position: relative;
    display: inline-block; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  u .tooltiptext {
    visibility: hidden;
    width: 500px;
    opacity: 0.8;
    background-color: rgba(255, 255, 255);
    color: rgba(0, 0, 0, 0.571);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    transition: 1s ease-in;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
u:hover .tooltiptext {
    visibility: visible;
  }